body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #a81e1e;
    color: #fff;
    padding: 15% 25px;
    font-family: Verdana, monospace;
    height: 80%;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #a81e1e;
    font-size: 50px;
}

.logo {
    color: #a81e1e;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #a81e1e;
}

.carousel-indicators li {
    border-color: #a81e1e;
}

.carousel-indicators li.active {
    background-color: #a81e1e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #a81e1e;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #a81e1e;
    background-color: #fff !important;
    color: #a81e1e;
}

.panel-heading {
    color: #fff !important;
    background-color: #a81e1e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #a81e1e;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #a81e1e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #a81e1e !important;
    background-color: #fff !important;
}

.navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #a81e1e;
}

footer a, a {
    color: #a81e1e;
    font-family: candara, Trebuchet MS, sans-serif;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }

    .jumbotron {
        height: 50%;
    }

    .jumbotron p {
        font-size: 18px;
    }
}

.glyphicon {
    color: #a81e1e;
}

.glyphicon-home {
    color: #ffffff;
}

.hideit {
    display: none;
}

.calltoaction {
    background-color: #a81e1e;
    color: #ffffff;
}

.calltoaction:hover {
    background-color: deepskyblue;
}

.social-panel img {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
}

.social-panel {
    padding: 0;
}

/*Facebook messenger widget. Don't edit till you've read and understood*/
/*Facebook messenger chat widget*/
#fb_widget .label {
    position: relative;
    float: left;
    color: #005f46;
    min-width: 20%
}

#fb_widget .field {
    position: relative;
    float: left
}

#fb_widget .element {
    border: 0 dotted red;
    margin: 12px;
    padding: 5px;
    min-height: 25px;
    clear: both
}

#fb_widget .field input {
    margin: 0;
    padding: 0
}

#fb_link.disabled {
    opacity: 0;
    visibility: hidden;
}

#fb_link.disabled .tooltiptext {
    font-size: 0
}

#fb_link.disabled .tooltiptext:after {
    content: "OFFLINE";
    font-size: 12px
}

#fb_link.email_us .tooltiptext {
    font-size: 0
}

#img_email {
    display: none;
}

#fb_link.email_us .tooltiptext:after {
    content: "EMAIL US";
    font-size: 12px
}

.fbmessenger {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999999999
}

.fbmessenger span {
    z-index: 999999999;
    position: absolute;
}

.fbmessenger.wpostop_left {
    left: 2px;
    right: initial;
    top: 0;
    bottom: initial
}

.tooltiptext.wpostop_left {
    left: 60px;
    right: initial;
    top: 8px;
    bottom: initial
}

.fbmessenger.wpostop_right {
    left: initial;
    right: 15px;
    top: 0;
    bottom: initial
}

.tooltiptext.wpostop_right {
    left: initial;
    right: 60px;
    top: 8px;
    bottom: initial
}

.fbmessenger.wposbottom_left {
    left: 2px;
    right: initial;
    top: initial;
    bottom: 0
}

.tooltiptext.wposbottom_left {
    left: 60px;
    right: initial;
    top: initial;
    bottom: 10px
}

.fbmessenger.wposbottom_right {
    left: initial;
    right: 15px;
    top: initial;
    bottom: 0
}

.tooltiptext.wposbottom_right {
    left: initial;
    right: 60px;
    top: initial;
    bottom: 10px
}

.fbmessenger img {
    width: 50px;
    filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, .3));
    -webkit-filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, .3))
}

.tooltiptext {
    width: 120px;
    background-color: #fff;
    color: #2c2c2c;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #eee;
    border-radius: 6px;
    position: fixed;
    bottom: 30px;
    right: 75px;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, .3));
    -webkit-filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, .3))
}